.main {
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
}
.main-select{
    max-width: 300px;
    padding: 10px 20px;
    border: 1px solid #37352F;
    border-radius: 10px;
    margin: 15px 0;
    margin-left: 10px;
}
.main__note-title{
    max-width: 300px;
    padding: 10px 20px;
    border: 1px solid #37352F;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 0 15px 10px;
}
.line{
    align-self: center;
    margin: 30px 0;
    width: 90%;
    background-color:  #37352F;
    height: 1px;
}
.center{
    align-self: center;
}