.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: #ebebeb;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header-btn,
.note-delete-btn {
    background: transparent;
    border: none;
    outline: none;
    height: 20px;
}

.sidebar-notes {
    display: flex;
    flex-direction: column;
}

.active {
    background-color: #8f8e8a;
}

.sidebar-note__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
